@import 'palette.scss';

$dark: #22181c;
$light: #fffafa;
$brand: #2d3142;
$interactive: #3993dd;
$contrast: 10;

$theme: $dark, $light, $brand, $interactive, $contrast;

$palette: new-palette($theme...);
